:root {

  /* Colors */
  --color-primary: #3F6C51;
  --color-secondary: #1a1a1a;
  --color-background: #131411;
  --color-text: #FFFFFF;
  --color-border: #eaeaea;

  /* Typography */
  --font-size-base: clamp(0.5rem, 0.5vw + 0.5rem, 3rem);
  --h1-size-base: clamp(1.5rem, 0.5vw + 1.5rem, 6rem);
  --h2-size-base: clamp(1rem, 0.5vw + 1rem, 4rem);
}

html, body {
  overflow-y: scroll;
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE 10+ */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                  /* Chrome, Edge, Safari */
}

body {
  background-color: var(--color-background);
  margin: 0;
  font-family: 'Inknut Antiqua', serif;
  overflow: scroll;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.navbar {
  width: 100%;
  height: 5vh;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Remove default spacing */
.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Equal width per item */
.nav-item {
  flex: 1;
  height: 100%;
}

/* Button fills entire item */
.nav-button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: var(--color-text);
  font-size: var(--font-size-base);
  font-family: 'Inknut Antiqua', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

/* Hover/Active */
.nav-button:hover,
.nav-button.active {
  border-bottom: 0.15em solid var(--color-primary);
  color: #fff;
}

/* Logo-specific styling */
.logo-button {
  padding: 0;
  background-color: transparent;
}

.nav-logo {
  max-height: 85%;
  max-width: 85%;
  object-fit: contain;
}

.scroll-button-container {
  position: fixed;
  bottom: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.scroll-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--color-text);
  font-family: 'Inknut Antiqua', serif;
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: transform 0.3s ease;
  bottom: 0;
}

.scroll-label {
  text-align: center;
  font-size: var(--font-size-base);
  line-height: 1;
  margin: 0;
}

.scroll-line {
  display: block;
  margin: 0;
}

.second-line {
  margin-top: 0.15rem;
  margin-bottom: 0;
}

.scroll-button p {
  margin: 0;
}

.scroll-button:hover {
  transform: translateY(5px);
}

.arrow {
  margin-top: -0.5rem;
  font-size: var(--h2-size-base);
  cursor: pointer;
  color: var(--color-primary);
  transition: transform 0.3s ease;
}

.stretched-arrow {
  transform: scale(2.5, 1.2);
  display: inline-block;
  margin: 0;
}

.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 3.5em;  /* space for navbar */
  padding-bottom: 4.5em; /* space for scroll button */
  box-sizing: border-box;
}

p {
  position: relative;
  z-index: 3;
  text-align: center;
  padding: 1em;
  font-family: "Inknut Antiqua", serif;
  color: white;
}

.section h1 {
  font-size: var(--h1-size-base);
  margin: 0;
  line-height: 1.2;
  font-family: "Inknut Antiqua", serif;
  color: white;
}

.section h2 {
  font-size: var(--h2-size-base);
  font-family: "Inknut Antiqua", serif;
  color: white;
}

.section h1 + h1 {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.section h1 + h2 {
  margin-top: 0em;
  margin-bottom: 0em;
}


.section p {
  font-size: var(--font-size-base);
  margin: 0;
}

.home-section {
  display: flex;
  flex-direction: column;
}

.home-top-image {
  max-height: 20vh;
  max-width: 80vw;
  object-fit: cover;
  display: block;
  margin: 2em auto; 
}

.home-overlay-container {
  position: relative;
  width: 100%;
  height: 45vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  clip-path: polygon(0% 0%, 100% 12.3%, 100% 100%, 0% 87.7%);
  z-index: 1;
}

/* Top border line */
.home-overlay-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12.3%;
  background-color: var(--color-primary);
  clip-path: polygon(
    0% 0%,
    100% calc(100% - 0.15em),
    100% 100%,
    0% 0.15em
  );
  z-index: 3;
  pointer-events: none;
}

/* Bottom border line */
.home-overlay-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12.3%; /* match height from slant to bottom */
  background-color: var(--color-primary);
  clip-path: polygon(
    0% 0%,
    100% calc(100% - 0.15em),
    100% 100%,
    0% 0.15em
  );
  z-index: 3;
  pointer-events: none;
}

.slideshow-container {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Top border line */
.slideshow-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12.3%;
  background-color: var(--color-primary);
  clip-path: polygon(
    0% 0%,
    100% calc(100% - 0.15em),
    100% 100%,
    0% 0.15em
  );
  z-index: 3;
  pointer-events: none;
}

.image-nav {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: 2;
}

.nav-icon {
  width: clamp(0.7rem, 0.5vw + 0.7rem, 2.5rem);
  height: auto;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-icon.active {
  opacity: 1;
  transform: scale(1.1);
}

/* Bottom border line */
.slideshow-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12.3%; /* match height from slant to bottom */
  background-color: var(--color-primary);
  clip-path: polygon(
    0% 0%,
    100% calc(100% - 0.15em),
    100% 100%,
    0% 0.15em
  );
  z-index: 3;
  pointer-events: none;
}

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0% 0%, 100% 12.3%, 100% 100%, 0% 87.7%);
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: 0;
}

.slideshow-image.active {
  opacity: 1;
  z-index: 1;
}

.slideshow-controls {
  display: flex;
  justify-content: space-evenly; /* Even spacing across viewport */
  align-items: flex-start;
  width: 100vw; /* Full viewport width */
  text-align: center;
}

.slideshow-controls button {
  background: none;
  border: none;
  color: white;
  font-family: "Inknut Antiqua", serif;
  font-size: var(--font-size-base);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideshow-controls button img {
  width: clamp(0.7rem, 0.5vw + 0.7rem, 2.5rem); /* Responsive range: min 1.5rem, max 2.5rem */
  height: auto;
  opacity: 0.4;
  object-fit: contain;
}

.slideshow-controls button.active img {
  opacity: 1;
}

.slideshow-controls button.active {
  border-bottom: 0.15em solid var(--color-primary);
}

.overlay-text {
  position: relative;
  width: 100vw;
  z-index: 3;
  text-align: center;
  padding: 1em;
  font-family: "Inknut Antiqua", serif;
  color: white;
}

.dm-image {
  width: 65vw;
  max-height: 35vh;
  max-width: 20em;
  height: auto;
  object-fit: cover;
}



